@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */
input, textarea, button, select {
    font-family: inherit;
    color: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body {
    background-color: #dfebf8;
    overflow: hidden;
    color: #292323;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

.aside {
    width: 25%;
    margin-right: 20px;
}

.aside .user__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 30px;
    background-color: #c5dcf5;
    box-shadow: 6px 6px 3px 0px rgba(151, 196, 247, 0.86);
    padding: 50px 30px;
    border-radius: 12px;
}

.aside .user__info .user__avatar {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 20px;
}

.aside .user__info .user__name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.aside .user__info .user__email {
    margin-bottom: 30px;
}

.aside .user__info .user__bio {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.aside .user__info .user__edit_a {
    position: absolute;
    bottom: 1%;
}

.main {
    width: 60%;
    position: relative;
}

.twitts {
    border-radius: 12px;
    background-color: #c5dcf5;
    position: relative;
    padding: 20px 20px;
    margin-top: 30px;
    max-height: 800px;
    overflow-y: scroll;
    scrollbar-width: thin;
 /* СКРОЛ */
    scrollbar-color: #8aa6bf #e4eef7;
}

.twitts .twitt {
    margin-bottom: 15px;
    padding: 15px 20px 15px 30px;
    background-color: rgb(168, 232, 248);
    border-radius: 12px;
    box-shadow: 4px 8px 5px 0px rgba(151, 196, 247, 0.86);
    transition: opacity 0.2s ease-in-out;
    position: relative;
}

.twitts .twitt:hover {
    opacity: 0.9;
}

.twitts .twitt:hover .action__with__twitt button {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s;
}

.twitts .twitt:hover .action__with__twitt .fake__button {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s;
    right: 100px;
}

.twitts .twitts.scroll-active .twitt:first-child {
    opacity: 0.5;
    transform: translateY(-20px);
}

.twitts .action__with__twitt, .twitts .birthdate {
    display: flex;
    justify-content: flex-end;
}

.twitts .action__with__twitt {
    position: relative;
}

.twitts .action__with__twitt button {
    width: 20px;
    height: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    margin-right: 10px;
    z-index: 2;
}

.twitts .twitt__content {
    padding-right: 50px;
    font-size: 1rem;
}

.add__new__twitt {
    position: absolute;
    bottom: 0%;
    width: 99%;
    background-color: #c5dcf5;
    padding: 0 0 20px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.add__new__twitt #image {
    display: none;
}

.add__new__twitt .textarea__container {
    position: relative;
}

.add__new__twitt .textarea__container .twitt__textarea {
    width: 100%;
    align-self: center;
    background-color: rgb(168, 232, 248);
    padding: 10px 15px;
    border-radius: 12px 12px 0 12px;
    font-size: 1rem;
    color: #000;
    border: 5px rgba(132, 184, 243, 0.86) solid;
    box-shadow: 2px 6px 3px 0px rgba(88, 141, 206, 0.8);
    padding-left: 40px;
}

.add__new__twitt .textarea__container .edit__twitt_textarea {
    background-color: rgb(168, 232, 248);
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 1.5rem;
    color: #000;
    border: 5px rgba(132, 184, 243, 0.86) solid;
    box-shadow: 2px 6px 3px 0px rgba(132, 182, 243, 0.86);
}

.add__new__twitt .textarea__container .upload-icon {
    position: absolute;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
}

.add__new__twitt .textarea__container .upload-icon .alya__img {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(132, 184, 243);
}

.add__new__twitt .textarea__container #image {
    display: none;
}

.add__new__twitt .submit__container {
    display: flex;
    justify-content: end;
}

.add__new__twitt .submit__container button {
    display: block;
    width: 20%;
    line-height: 2rem;
    background-color: rgb(70, 117, 175);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0 0 12px 12px;
    box-shadow: 2px 6px 3px 0px rgba(124, 156, 195, 0.86);
}

/* Трек скролу (фонова частина) */
.twitts::-webkit-scrollbar {
    width: 12px;
 /* Ширина скролу */
}

/* Бігунок (scroll thumb) */
.twitts::-webkit-scrollbar-thumb {
    background-color: #8aa6bf;
 /* Колір бігунка */
    border-radius: 10px;
 /* Заокруглення */
    border: 3px solid #e4eef7;
 /* Проміжок між бігунком і треком */
}

/* Трек (фонова частина скролу) */
.twitts::-webkit-scrollbar-track {
    background-color: #e4eef7;
 /* Колір треку */
    border-radius: 10px;
 /* Заокруглення треку */
}

/* Бігунок при наведенні */
.twitts::-webkit-scrollbar-thumb:hover {
    background-color: #5b7d95;
 /* Темніший колір бігунка при наведенні */
}

.header_main {
    display: block;
    background-color: rgb(161, 161, 219);
    height: 60px;
    padding: 0px 50px;
}

.header__container {
    height: 100%;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
}

.header__left a {
    margin-right: 30px;
    color: #fff;
    font-weight: 600;
}

.header__right {
    display: flex;
}

.form__container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    background-color: rgba(151, 196, 247, 0.86);
    border-radius: 24px;
    padding: 50px;
    box-shadow: 6px 6px 3px 0px rgba(151, 196, 247, 0.86);
}

.form__container h1 {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin-bottom: 25px;
}

.form__container .form {
    display: flex;
    flex-direction: column;
}

.form__container .form input {
    background-color: #fff;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 10px 20px;
    border-radius: 12px;
}

.form__container .form label, .form__container .form input {
    margin-bottom: 15px;
}

.form__container .form button {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 500;
    background-color: rgb(70, 117, 175);
    color: #fff;
    width: auto;
    padding: 10px;
    align-self: center;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 2px 6px 3px 0px rgba(124, 156, 195, 0.86);
}

.form__container a span {
    color: #000;
}